<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Ember UI Helpers</h1>
			<hr>
			<h2>Loading Message</h2>
			<strong>examples:</strong><br/>
			{{loading-message message='Please wait while we load your data....' tagName="h1"}}
			<hr>
			{{loading-message message='Please wait while we load your data....' useFadeIn=false tagName="h1"}}
			<hr>

			<h2>Wrapped Input</h2>
			{{wrapped-input   labelText="Field label" autoFocus=false }}
			<hr>
			<h2>Autofocusing Text Field</h2>
			{{textfield-auto-focus  placeholder="Put something here" class="form-control"}}
			<hr/>

			
			{{#blank-slate}}
				Foo
			{{/blank-slate}}
			<hr>
			{{blank-slate resource="vendor" addText="Create a Vendor"}}
			<hr>

			<h2>Notifier</h2>
			<button class="btn btn-success"
					 {{action "showSuccessMessage"}}>
				Success
			</button>
			<hr>
			<h2>Address Block</h2>
			{{address-block item=person}}
			{{address-block item=business}}
			{{address-block item=client nameField="fullName" addressField="street"
			addressField2="street2"
			cityField="municipality"
			stateField="stateOrProvince"
			zipField="postal"
			}}

		</div>
	</div>
</div>
